<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <span v-if="seen">你能看的见我吗?</span> -->
        <ul>
            <li v-for="item in cars">{{item.content}}======{{item.id}}</li>
        </ul>
    </div>
    
    <script>
        const vm=new vue({
            el:'#app',
            data:{
                cars:[//数组
                    {id:1,content:'卡卡西,和谁都可以干一次的男人'},
                    {id:2,content:'自来也,喜欢女人的男人'},
                    {id:3,content:'大蛇丸,科学家的男人'},
                    {id:4,content:'我爱罗,喜欢玩沙子的男人'},
                ]
            }
        })
    </script>
</body>
</html>